#id{
    width: 10%;
}
#name{
    width: 20%;
}
#course{
    width: 6%;
}
#seats{
    width: 7%;
}
#has_payed{
    width: 3%;
}
#has_robe{
    width: 7%
}
#requests{
    width: 21%;
}
#action{
    width: 10%;
}