{% extends 'base.jinja' %}

{% block head %}
    <title>Convocation Admin Main Menu</title>
{% endblock %}

{% block body %}
    <div class = "header">
        <h2 class = "header_text">Dashboard</h2>
        <a id="logout" href="./logout">Logout</a>
    </div>
    <ul id="action_panel">
        <a href="./acceptance">
            <li>Convocation Registeration</li>
        </a>
        <a href="./students">
            <li>Students</li>
        </a>
        <a href="./robe"><li>Robe Management</li></a>
        <a href="./payment">
            <li>Check Payment</li>
        </a>
    </ul>
{% endblock %}
